.de {
  height: 50vh;
  width: 100%;
  background-color: black;
}

.subject{
  background-color: black;
}
.subhead{
  color: #fff;
  height: 3vh;
  display: flex;
  align-items: center;
  font-size: large;
  padding: 1vh;
  padding-left: 2vh;
}
.subhead h5{
  padding-left: 1vh;
}

.card{
  overflow: hidden;
}
.image-contents{
  height: 50%;
  width: 100%;
}

.card-images{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-images img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
